/* layout fluid would use flexbox but i find it alot more confusing */

body {
    background-color: #F5F5F0;
    font-family: Arial, sans-serif;
    max-width: 1200px;
    display: grid;
    grid-template-areas:
        "header header"
         "alert alert"
        "aside main"
        "footer footer";
        grid-template-columns: 250px 1fr;
        grid-template-rows: auto auto 1fr auto;
        color: #2B2B2B;
        gap: 0.5em;

}

/* alert box + header style */
header {
    grid-area: header;
    text-align: center;
    background-color:  #9BAE91;
    width: 100%;
}
#alert {
    grid-area: alert;
    font-weight: bold;
    background-color:  #FFF9C4;
    padding: 0.5em;
    color: #2B2B2B;
    
}

img {
   max-width: 100%;
   height: auto;
   width: 18%;
   text-align: center;

}
/* sidebar menu style */
aside {
    grid-area: aside;
    background-color: #D8DDD2;
    padding: 1em;
    max-width: 90%
}
aside ul{
    list-style: none;
    padding: 0;
    margin: 0;
   
}
aside a {
    text-decoration: none;
    line-height: 4;
    display: block;
    color: #2B2B2B;
    padding: 0.5em;
    transition: all 0.3s;
    font-weight: bold;

}


aside a:hover {
    background-color: #5F7B61;
    font-weight: bold;


}
aside a:active {
    color:  #3E5F3B;

}

/* main style content */
main {
    grid-area: main;
    padding: 1em;
    background-color: #FFFDF0;

}
#float {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}
#explore, #questions {
    background-color: #F3F3E8;
    padding: 1em;
}
/* donation form style */
input[type="submit"], input[type="reset"] {
    width: 48%;
    padding: 0.8em;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    color: #FFFDF0;
    transition: background-color 0.3s;
    margin-top: 1em;

}
input[type="reset"], input[type="submit"] {
    background-color: #2E5B3A;

}
#form {
    display: flex;
    justify-content: space-between;
    width: 90%;
    background-color: #F3F3E8;
    padding: 1.5em;
    border-radius: 10px;
}
input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #8B4513;
}
    
input[type="text"] {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
   border: 1px solid #ccc;
   
}
label {
    display: block;
}

/* style for my footer */
footer {
    grid-area: footer;
    text-align: center;
    background-color: #B7AFA3;
    width: 100%;
    
}

/* styles for theee gallery */
#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1em;
  padding: 1em;
  background-color: #F5F5F0;

}
.description {
    width: 45%;
    margin-bottom: 1em;
    text-align: center;
    background-color: #FFFDF0;
    border: 1px solid #D8DDD2;
    font-weight: bold;
    padding: 0.2em;

}
.description img {
    width: 100%;
    height: auto;
    
}

/* trying to add media queries  */
@media (max-width: 768px) {
    body {
        
        grid-template-areas:
            "header"
            "alert"
            "main"
            "aside"
            "footer";
        grid-template-columns: 1fr;
    
    }
    
    aside {
        
        text-align: center;
        
    }
    
    #form {
        
        flex-direction: column;
    }
    
    #gallery {
        
        flex-direction: column;
    }
    
    .description, .description img {
        width: 100%;
        
    }

}

